.backgroundImage {
  height: 100svh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100svw;
  z-index: 1;
}

.overlay {
  content: "";
  background-color: var(--colors-neutral-900);
  position: fixed;
  height: 100svh;
  left: 0;
  opacity: 0.4;
  top: 0;
  width: 100svw;
  z-index: 2;
}
