.detailsContainer {
  background-color: var(--colors-neutral-500);
  display: flex;
  padding: clamp(3rem, 2.2958rem + 3.0047vw, 5rem)
    clamp(1rem, -0.4085rem + 6.0094vw, 5rem);
  place-content: center;
}

.detailsList {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.675rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.detailsListItem {
  align-items: center;
  color: var(--colors-neutral-800);
  display: flex;
  justify-content: space-between;
}

.detailsItemLabel {
  font-size: clamp(0.625rem, 0.493rem + 0.5634vw, 1rem);
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}

.detailsItemValue {
  font-size: clamp(1.25rem, 0.4577rem + 3.3803vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
}

@media (min-width: 48rem) {
  .detailsList {
    column-gap: clamp(2.5rem, -0.3571rem + 5.9524vw, 5rem);
    display: grid;
    row-gap: 2.5rem;
    grid-template-columns: auto 1fr;
  }
  .detailsListItem {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
  }
}
