.main {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.mainContent {
  align-self: stretch;
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: clamp(4rem, 3.0458rem + 4.0712vw, 5rem);
}

.timeData {
  align-self: stretch;
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.5rem;
}
