.main {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.mainContent {
  align-self: stretch;
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: clamp(4rem, 3.0458rem + 4.0712vw, 5rem);
  padding: clamp(2rem, 1.2958rem + 3.0047vw, 4rem)
    clamp(1rem, -2.279rem + 13.9906vw, 10.3125rem);
}

.timeData {
  align-self: stretch;
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  gap: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
}

@media (min-width: 64rem) {
  .mainContent {
    align-items: flex-end;
    flex-direction: row;
  }
}
